h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#pages/1-tema.html/')
                    +navTemaItem('1', 'Organizaciones', 'main.html#page/organizaciones/')
                    +navTemaItem('2', 'Sistemas de Información', 'main.html#page/sistemas-de-informacion/')
                    +navTemaItem('3', 'Procesamiento de Datos', 'main.html#page/procesamiento-de-datos/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')