include ../mixins/functions

+pageHeader('Aspectos y características de los Sistemas de Información', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 Introducción

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    p Los Sistemas de Información en los Centros de Distribución se convierten en una herramienta fundamental para el tratamiento de los datos que continuamente ingresan, se utilizan y se generan como resultado de su operación, ya que son diferentes las partes interesadas en la actividad que se desarrolla. La generación de datos es continua en una organización, por ejemplo: cuando  un equipo  está en funcionamiento los está generando, si un asesor está realizando una actividad comercial, si un vehículo está haciendo entrega de una carga, si un proveedor está entregando un pedido, si un montacargas está trasladando una serie de artículos desde las estantería hasta la zona de empaque, en todos estos casos hay algo que resulta y que los sistemas de información recogen para procesar y convertirla en información necesaria para continuar con el proceso siguiente, para tomar decisiones a nivel gerencial u operativo o entregar un informe a un ente de control, entre otras más acciones que se pueden realizar. 
                    br
                    p En este material de formación, encontrará información para determinar el impacto e importancia de un sistema de información en el desarrollo de las actividades de una organización, especialmente en un centro de distribución.