include ../mixins/functions

+pageHeader('Aspectos y características de los Sistemas de Información', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 2. Organizaciones
    .header
        .card
            .card-body
                article.row.my-4
                    .col-12.col-md-6
                        p Las organizaciones en un contexto comercial, hace relación a un conjunto de personas, recursos y medios organizados de forma intencional y planificada, enfocada a lograr un mismo objetivo, económico o social. Este concepto es muy similar a término empresa, la cual está enfocado específicamente con la rentabilidad y sostenibilidad en un mercado, por ende, la generación de riqueza. 

                        p Según la Guía de Responsabilidad Social ISO 26000 de ICONTEC, define la organización como una entidad o grupo de personas e instalaciones con responsabilidad, autoridades y relaciones establecidas y objetivos identificables. 

                    .col-12-col-md-6.text-center.ml-3
                        img(src="assets/images/pages/ilustraciones/recursos.svg").img-fluid

                p La gráfica complementa la última definición, ya que esta muestra las relaciones que se establecen entre los recursos, cada uno tiene una responsabilidad dentro de la organización, ya sea proveer un servicio o producto, gestionar la información, transformar una materia prima o generar valor.

                p Tanto las organizaciones  como las empresas, tienen una estructura de personas con responsabilidades sobre unas actividades en especial, estas a su vez, componen una serie de procesos que une el esfuerzo humano, técnico y tecnológico para lograr un objetivo específico dentro de un sistema llamado empresa; las cuales en la actualidad, en su gran mayoría  tienen un enfoque basado en procesos, los cuales tienen unas fuentes de entradas, entradas, actividades, salidas y receptores de las salidas, estos últimos tienen como resultado elementos que necesita el siguiente proceso para trabajar o un producto o servicio final.

                img(src="assets/images/pages/ilustraciones/recursos_mapa.svg").img-fluid.mt-6

                img(src="assets/images/pages/ilustraciones/recursos_img.svg").img-fluid.mt-6
