.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td
                    strong Almacenamiento Centros de Distribucion y Operaciones
                td PDF
                td 
                    a(href="media/documentos/MC_Almacenamiento_Centros_de_Distribucion_y_Operaciones.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Gestión en Centros de Distribución  
                td PDF
                td 
                    a(href="media/documentos/MC_Gestion_en_Centros_de_Distribucion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Introduccion a los Sistemas de información_ Fundamentos
                td PDF
                td 
                    a(href="media/documentos/MC_Introduccion_a_los_Sistemas_de_informacion_ Fundamentos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar